ChessGame/ChessGame/obj/ChessGame.csproj.nuget.dgspec.json
ChessGame/ChessGame/obj/ChessGame.csproj.nuget.g.props
ChessGame/ChessGame/obj/project.assets.json
ChessGame/ChessGame/obj/project.nuget.cache
ChessGame/ChessGame/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ChessGame/ChessGame/obj/Debug/net8.0/ChessGame.AssemblyInfoInputs.cache
ChessGame/ChessGame/obj/Debug/net8.0/ChessGame.assets.cache
ChessGame/ChessGame/obj/Debug/net8.0/ChessGame.GeneratedMSBuildEditorConfig.editorconfig
ChessGame/ChessGame/obj/Debug/net8.0/ChessGame.GlobalUsings.g.cs
